*{
    padding: 0;
    margin: 0;
}
.container{
    
    height: 100%;
    /* padding: 5px 5px; */
    background-color: black;
   
}
.left{
  
    height: 100vh;
    
}
.logo{
    margin-top: 8px;
    color: white;
}
.home{
    padding: 4px 12px;
    margin: 5px 0px;
    border-radius: 9px;
 color: white;
 background-color:#101010;;  
   width: 23vw;
   height: 20vh;
   
}
.library{
    padding: 4px 12px;
    margin: 5px 0px;
    border-radius: 9px;
    color: white;
    background-color:#101010;;
      height: 73vh; 
      width: 23vw;
}
.library img{
    height: 30px;
}
.home ul li img{
    margin-top: 8px;
    
    height: 27px;
}
.home ul li{
    
    margin-top: 5px;
    list-style: none;
    gap: 10px;
    display: flex;
}
/* #h{
    height: 40px;
} */
.librarylogo{
    gap: 10px;
}
.right{
    width: 55vw;
    height: 50vh;
    
}

.nav{
    margin-top: 9px;
    margin-left: 9px;
    align-items: center;
    /* justify-content: center; */
    height: 12vh;
    width: 73vw;
    justify-content: space-between;
    background-color:#101010;;
    color: white;
    border-top-left-radius: 9px;
}
.serch input{
    display: none;
    padding: 7px 9px;
    /* text-align: center; */
    border-radius: 5px;
    border: none;
    height: 11.5%;
    width: 192%;
    transition:  0.2s ease-out;
    opacity: 0.5;
}
.serch input:focus{
    outline:none;
    
}

.Serch-suj{
    display: none;
    left: 44%;
    top: 15vh;
    position: absolute;
    z-index: 1000;
    height: 40%;
    width: 34%;
    background-color: #fffcfcb0;
}
.nav  .arrow img{
   
    cursor: pointer;
    height: 22px;
}
.nav .signBtn{
   font-size:larger;
   border-style: none;
    width: 87px;
    height: 37px;
    margin: 3px 45px;
    background-color: #101010;
    color: rgb(176, 170, 170);
}
.nav .signBtn:hover{
    transform: scale(1.04);
    color: white;
}
.nav .loginBtn{
  
    width: 130px;
    height: 55px;
   
    font-size: larger;
    background-color: white;
    color: black;
    border-radius: 25px;
}
.nav .loginBtn:hover{
    transform: scale(1.04);
}
.arrow{
    margin: 0px 15px;
}
.card {
    padding: 1px 1px;
    border-radius: 9px;
   margin: 2px 2px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 16vw;
    width: 12vw;
    
    color: white;
}
.song-name{
    font-size: 20px;
}
.artist-name{
    font-size: 15px;
    
}
.song-{
    font-size: 10px

}
.card:hover {
    scale:  1.02;
    background-color: rgb(0, 0, 0);
}
.content{
    margin: 3% 4.5%;
    width: 71vw;
    height: 73vh;
    background-color: #101010;
    overflow:auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
   
}
.card img{
    width: 10vw;
    height: 10vw;
}


.slogo img{
    
    position: relative;
top :33vh;
    height: 32px;
    z-index: 1;
}
.player{
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin: 5px 10px;
    position: absolute;
    bottom: 0;
   background-color: black;
    height: 10%;
    width: 70%;
}
 h3 img{
    font-size: 50px;
    cursor: pointer;
    filter: invert(100%);
}
h3 img:hover{
   
    scale:  1.6;
}
.pause{
    display: none;
}


/* Style the scrollbar track */
::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #fffcfc; /* color of the thumb */
    border-radius: 6px; /* roundness of the thumb */
  }
  
  /* Change color on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }
  
  /* Style the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #000000; /* color of the track */
  }
  
  /* Style the scrollbar corner */
  ::-webkit-scrollbar-corner {
    background: transparent; /* color of the corner */
  }
  
  /* <div class="librarylogo flex">
    <img src="library.svg" alt="" class="invertimg">
    Your Library
    <div class="song-poster" id="poster">
      <img src="${caard[selectedSong].img}" alt="">
    </div>
</div>` */
.library{
    display: flex;
    justify-content: center;
    align-items: center;
}
.library img{
width: 250px;
height: 250px;
}
#progressBar{

    padding-left: 2px;
    bottom: 0;
  
    width: 90%;
    height: 2vh;
    position: absolute;
    right: 0;
    
    
}
#duration{
    color: white;
    position: absolute;
    right: 0;
}
@media only screen and (max-width: 947px) {
    
    .song-name{
        font-size: 15px;
    }
    .artist-name{
        font-size: 10px;
        
    }
    .song-{
        font-size: 5px
    
    }
    .serch input{
        display: none;
        padding: 7px 9px;
        /* text-align: center; */
        border-radius: 5px;
        border: none;
        height: 11.5%;
        width: 100%;
        transition:  0.2s ease-out;
    }
  }
  @media only screen and (max-width:1185px) {
    .container{
    
        height: 100%;
        /* padding: 5px 5px; */
        background-color: rgb(235, 0, 0);
       
    }
    .serch input{
        display: none;
        padding: 7px 9px;
        /* text-align: center; */
        border-radius: 5px;
        border: none;
        height: 11.5%;
        width: 160%;
        transition:  0.2s ease-out;
    }
  }